/*-- scss:defaults --*/

$primary: $brand-dusty-berry;
$secondary: $brand-warm_teal;

/*-- scss:rules --*/

// Increase the height of navbar so that the logo is visible
.navbar-logo {
  min-height: 2.8rem;
}

// Make it transparent to match the background colour
.navbar {
  background: transparent;
}

// links in nav bar
.navbar-nav .nav-link {
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom: 0px hidden $secondary;
  margin: 0px 10px 0px 10px;
  padding: 2px 2px 4px 2px !important;

  &:hover {
    border-bottom: 1px solid $secondary !important;
    padding: 2px 2px 0px 2px !important;
  }
}

// Footer links on right side
.nav-footer .nav-link {
  &:hover {
    text-decoration: underline;
  }
}

// Grid card listing
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
  border-radius: 10px 10px 0px 0px;
  object-fit: contain;
}

img.thumbnail-image.card-img {
  width: 100%;
  object-fit: contain !important;
}
